name: Push Workflow

on: push

jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1
      - run: npm install
      - run: npm run generate
      - run: git diff --exit-code src/tests_and_benchmarks/generated
      - run: npm run test:keep-snapshots
      - run: npm run typecheck
      - run: npm run prettier:check

      # verify cli
      - run: npm run build
      - run: rm -rf node_modules; npm install --production
      - run: npm install -g
      - run: reco.io -o test.js '/[0-9a-z]*/i'
      - run: node test_cli_generated_code.js

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
