name: Push Workflow

on: push

jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - run: npm install
      - run: npm run generate
      - run: npm run test:keep-snapshots
      - run: npm run typecheck
      - run: npm run prettier:check
